POSTGRES_USER=db_name
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres_db
DATABASE_URL=postgresql://postgres:password@postgres:5432/db
PAYSTACK_SECRET_KEY=your_paystack_secret
RESEND_API_KEY=your_resend_api_key