NODE_ENV=development
POSTGRES_USER=db_name
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres_db
DATABASE_URL=postgresql://postgres:password@postgres:5432/db
PAYSTACK_SECRET_KEY=your_paystack_secret
JWT_ACCESS_SECRET=your_generated_secret
JWT_REFRESH_SECRET=your_generated_secret
ALLOWED_ORIGIN=http://localhost:3000
RESEND_API_KEY=your_resend_api_key
TEST_EMAIL=your_email